@use "./../base";
@use "./../abstracts" as *;
@use "./icons";

.combobox {
  color: $tertiary-color;
  border: 1px solid currentColor;
  // display: inline-flex;
  // flex-flow: row nowrap;
  // align-items: center;
  // padding: 6px 16px;
  border-radius: 16px;
  display: inline-flex;
  position: relative;
  font-size: 14px;

  @media (min-width: 1024px) {
    font-size: 18px;
  }

  svg {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;

    &:nth-of-type(1) {
      left: 8px;
    }
    &:nth-of-type(2) {
      right: 8px;
    }
  }

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  select {
    appearance: none;
    border: 0;
    padding: 0 24px;
    background-color: transparent;
  }
}
