// 가로, 세로 크기를 설정하는 믹스인
// inline-size, block-size

@mixin inline-size($value) {
  width: $value;
  inline-size: $value;
}

@mixin block-size($value) {
  height: $value;
  block-size: $value;
}

@mixin size($width, $height: null) {
  @include inline-size($width);

  @if $height != null {
    @include block-size($height);
  }
}
