$base-color: #bf2243;
$border-color: rgba($base-color, 0.7);
$variable: 1rem;

.alert {
  border: 1px solid $border_color; // ←
}

:root {
  --primary-color: red;
}

$color: #05d156;
.rule-1 {
  $variable: 2rem;

  color: $color;
  background: var(--primary-color);
  padding: $variable;
}

$base-color: #3b083c !default;

:root {
  --primary-color: blue;
}

:root {
  --primary-color: yellow;
}

$color: #49abe4;
.rule-2 {
  color: $base-color;
  background: var(--primary-color);
}
