$base-color: #121212;
$bg-color: #eaf455;

body {
  font-size: 1rem;
  color: $base-color;
  background: $bg-color;
}

p {
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.075rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;

  li {
    margin: 0.5rem;
    color: #333;
  }
}
